@tailwind base;

@tailwind components;

/* NProgress */
@import "~nprogress/nprogress.css";

/* Card */
.card {
    @apply bg-white rounded shadow;
}

/* Button */
.btn {
    @apply px-4 py-2 rounded font-bold;
}

.btn:focus {
    @apply outline-none;
}

/* Button Primary */
.btn-primary {
    @apply text-white bg-blue-500 shadow;
}

.btn-primary:focus {
    @apply shadow-outline;
}

.btn-primary:disabled {
    @apply opacity-75 cursor-not-allowed;
}

.btn-primary:hover:enabled {
    @apply bg-blue-700;
}

/* Button Danger */
.btn-danger {
    @apply text-white bg-red-600 shadow;
}

.btn-danger:focus {
    @apply shadow-outline;
}

.btn-danger:disabled {
    @apply opacity-75 cursor-not-allowed;
}

.btn-danger:hover:enabled {
    @apply bg-red-800;
}

/* Button Link */
.btn-link {
    @apply text-gray-500;
}

.btn-link:disabled {
    @apply opacity-75 cursor-not-allowed;
}

.btn-link:hover:enabled {
    @apply text-gray-600;
}

/* Invalid Input */
.is-invalid {
    @apply border-red-500;
}

.is-invalid:focus {
    @apply border-red-500;
    box-shadow: 0 0 0 3px rgba(245, 101, 101, 0.5);
}

/* Gradient */
.gradient {
    background: linear-gradient(theme('colors.gray.700'), theme('colors.gray.600'));
}

/* Spinner */
@keyframes spin {
    to { transform: rotate(360deg); }
}

.spinner {
    @apply inline-block w-4 h-4 align-text-bottom rounded-full;
    border: .2em solid currentColor;
    border-right-color: transparent;
    animation: spin .75s linear infinite;
}

/* Slide */
.slide-in {
    transform: translateX(0%);
    transition: transform .3s;
}

.slide-out {
    transform: translateX(-100%);
    transition: transform .3s;
}

/* Active Link */
aside > .router-link-exact-active {
    @apply bg-gray-800 text-white;
}

nav > .router-link-exact-active,
nav > .router-link-exact-active:hover {
    @apply border-gray-800 text-gray-800;
}

/* Stripe */
.StripeElement--focus {
    @apply border-blue-400 shadow-outline;
}

.StripeElement--invalid {
    @apply border-red-500;
}

.StripeElement--focus.StripeElement--invalid {
    box-shadow: 0 0 0 3px rgba(245, 101, 101, 0.5) !important;
}

.StripeElement--focus.is-invalid {
    @apply border-red-500;
    box-shadow: 0 0 0 3px rgba(245, 101, 101, 0.5);
}

@tailwind utilities;

@responsive {
    .transform-none {
        transform: none;
    }
}
